<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tool_Extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB668E1D1E13A25B00A53006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB668E361E13A25B00A53006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB668E411E13A25B00A53006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
